<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width" name="viewport" />
		<meta content="ie=edge" http-equiv="X-UA-Compatible" />
		<title>Nojira | Registro de usuarios</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
			rel="stylesheet"
		/>
	</head>

	<body
		class="m-0 font-inter flex items-center justify-center h-screen w-full bg-stone-100"
	>
		<div
			class="w-11/12 sm:w-9/12 md:w-7/12 lg:w-6/12 xl:w-5/12 2xl:w-4/12 bg-white rounded-lg shadow-2xl p-5 m-3 sm:px-12 md:px-14 md:py-10 lg:p-15 xl:p-18 2xl:px-30 2xl:py-34 space-y-4 2xl:space-y-10"
		>
			<div class="mb-8">
				<div class="flex justify-center gap-x-.5 my-4">
					<svg
						aria-hidden="true"
						class="w-14 text-purple-700"
						fill="none"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M15 17v1a.97.97 0 0 1-.933 1H1.933A.97.97 0 0 1 1 18V5.828a2 2 0 0 1 .586-1.414l2.828-2.828A2 2 0 0 1 5.828 1h8.239A.97.97 0 0 1 15 2M6 1v4a1 1 0 0 1-1 1H1m13.14.772 2.745 2.746M18.1 5.612a2.086 2.086 0 0 1 0 2.953l-6.65 6.646-3.693.739.739-3.692 6.646-6.646a2.087 2.087 0 0 1 2.958 0Z"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							stroke="currentColor"
						/>
					</svg>
					<span class="font-black text-purple-700 text-6xl">Nojira</span>
				</div>

				<div class="text-center">
					<span class="font-medium text-gray-400 text-3xl">
						Regístrate para empezar
					</span>
				</div>
			</div>

			<div
				class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
				role="alert"
				th:if="${emptyFieldError}"
			>
				<svg
					aria-hidden="true"
					class="flex-shrink-0 inline w-4 h-4 mr-3"
					fill="currentColor"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
					/>
				</svg>
				<span class="sr-only">Info</span>
				<span class="font-medium">Hey!</span>
				<span th:text="${emptyFieldError}"></span>
			</div>

			<form class="space-y-4" method="POST" th:action="@{/auth/signup}">
				<div class="input-container">
					<label
						class="block text-sm font-medium text-gray-900 mb-2 mt-4"
						for="fullName"
					>
						Nombre:
					</label>
					<div class="relative">
						<div
							class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none"
						>
							<svg
								aria-hidden="true"
								class="w-4 h-4 text-gray-800"
								fill="#6B7280"
								viewBox="0 0 20 16"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M7 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9Zm2 1H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"
								/>
							</svg>
						</div>
						<input
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full py-3 px-10"
							id="fullName"
							name="fullName"
							placeholder="Nombre"
							th:value="${fullName != null ? fullName : ''}"
							type="text"
						/>
						<button
							class="close-btn absolute bottom-4 right-3 pr-0 bg-transparent hidden"
							tabindex="-1"
							type="button"
						>
							<svg
								aria-hidden="true"
								class="w-3 h-3 text-gray-800"
								fill="currentColor"
								viewBox="0 0 20 16"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="1"
									stroke="currentColor"
								/>
							</svg>
						</button>
					</div>
					<div
						class="mt-2 text-sm text-red-800 dark:text-red-400"
						role="alert"
						th:if="${fullNameError}"
					>
						<p th:text="${fullNameError}"></p>
					</div>
				</div>

				<div class="input-container">
					<label
						class="block text-sm font-medium text-gray-900 mb-2 mt-4"
						for="email"
					>
						Correo electrónico:
					</label>
					<div class="relative">
						<div
							class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none"
						>
							<svg
								aria-hidden="true"
								class="w-5 h-5 text-gray-800"
								fill="#6B7280"
								viewBox="0 0 27 16"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"
								/>
								<path
									d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"
								/>
							</svg>
						</div>
						<input
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full py-3 px-10"
							id="email"
							name="email"
							placeholder="Correo electrónico"
							th:value="${email != null ? email : ''}"
							type="text"
						/>
						<button
							class="close-btn absolute bottom-4 right-3 pr-0 bg-transparent hidden"
							tabindex="-1"
							type="button"
						>
							<svg
								aria-hidden="true"
								class="w-3 h-3 text-gray-800"
								fill="currentColor"
								viewBox="0 0 20 16"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="1"
									stroke="currentColor"
								/>
							</svg>
						</button>
					</div>
					<div
						class="mt-2 text-sm text-red-800 dark:text-red-400"
						role="alert"
						th:if="${emailError}"
					>
						<p th:text="${emailError}"></p>
					</div>
				</div>

				<div>
					<label
						class="block text-sm font-medium text-gray-900 mb-2 mt-4"
						for="password"
					>
						Contraseña:
					</label>
					<div class="relative">
						<div
							class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none"
						>
							<svg
								aria-hidden="true"
								class="w-5 h-5 text-gray-800"
								fill="#6B7280"
								viewBox="0 0 27 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M14 7h-1.5V4.5a4.5 4.5 0 1 0-9 0V7H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-5 8a1 1 0 1 1-2 0v-3a1 1 0 1 1 2 0v3Zm1.5-8h-5V4.5a2.5 2.5 0 1 1 5 0V7Z"
								/>
							</svg>
						</div>
						<input
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full py-3 px-10"
							id="password"
							name="password"
							placeholder="Contraseña"
							type="password"
						/>
					</div>
				</div>

				<div>
					<label
						class="block text-sm font-medium text-gray-900 mb-2 mt-4"
						for="confirm-password"
					>
						Confirma tu contraseña:
					</label>
					<div class="relative">
						<div
							class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none"
						>
							<svg
								aria-hidden="true"
								class="w-5 h-5 text-gray-800"
								fill="#6B7280"
								viewBox="0 0 27 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M14 7h-1.5V4.5a4.5 4.5 0 1 0-9 0V7H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-5 8a1 1 0 1 1-2 0v-3a1 1 0 1 1 2 0v3Zm1.5-8h-5V4.5a2.5 2.5 0 1 1 5 0V7Z"
								/>
							</svg>
						</div>
						<input
							class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full py-3 px-10"
							id="confirm-password"
							name="confirm-password"
							placeholder="Confirma tu contraseña"
							type="password"
						/>
					</div>
				</div>

				<div
					class="flex items-center justify-end mt-6 text-gray-400 text-xs font-normal"
				>
					<p>
						¿Ya tienes tu cuenta?
						<a class="text-blue-700 hover:underline" href="/auth/login">
							Inicia sesión
						</a>
					</p>
				</div>

				<div class="flex justify-center mt-4">
					<button
						class="text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-3"
						type="submit"
					>
						Registrarte
					</button>
				</div>
			</form>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
		<script th:src="@{/input-cleaner.js}"></script>
	</body>
</html>
